{% extends 'templates/editable/_editable.jinja' %}

{% block title %}{{title|safe}}{% endblock %}
{% block card %}
    <!-- Attributes  -->
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{name|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{path|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{category|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{period_type|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{interval|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{units|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{detail|safe}}
    </div>
    <input type="hidden"
        form="form-{{id}}"
        id="{{id}}"
        name="id"
        class="form-control form-control-sm"
        value="{{id}}"
        placeholder="{{id}}"
        required
    >
{% endblock %}