{% if not name_col_width is defined %}
{% set name_col_width = 1%}
{% endif %}
{%if not toggle_tag is defined %}
{%set toggle_tag = "toggled-by-button"%}
{%-endif%}
<div class="col-{{name_col_width}} mx-2"><code>{{name}}</code></div>
<div class="col">
    {% block editable %}
    {% endblock %}
</div>