{% extends "utils/_editable_attr.jinja" %}
{% block editable %}
<input 
    type="text" 
    class="form-control form-control-sm {{toggle_tag}}" 
    id="{{id}}" 
    name="{{name}}" 
    placeholder="{{default}}"
    value="{{default}}"
    required
    disabled
>
{% endblock %}