{% macro edit_button(id) %}
    <button 
        id="edit-{{id}}" 
        type="button" 
        class="btn btn-warning btn-sm py-0"  
        onclick="toggleForm('{{id}}')"
    ><i class="bi bi-pencil-square"></i></button>
{%- endmacro %}

{% macro submit_button(id, action) %}
    <button 
        id="submit-{{id}}" 
        type="button" 
        class="btn btn-success btn-sm py-0 d-none" 
        onclick="submitForm('{{id}}', '{{action}}')" 
        disabled
    ><i class="bi bi-send-arrow-up-fill"></i></button>
{%- endmacro %}

{% macro delete_button(id, action) %}
    <button 
        id="delete-{{id}}" 
        type="button" 
        class="btn btn-danger btn-sm py-0 d-none" 
        onclick="submitForm('{{id}}', '{{action}}')" 
        disabled
    ><i class="bi bi-trash-fill"></i></button>
{%- endmacro %}
