{# VARS: button_color, button_label,  #}
{% if not button_color is defined %}
{% set button_color = "danger"%}
{% endif %}
{# Used to label the original button #}
{% if not button_label is defined %}
{% set button_label = "Go"%}
{% endif %}
{# Used to describe the action that is being taken #}
{% if not modal_body is defined %}
{% set modal_body = "This action cannot be un-done."%}
{% endif %}
{# Used to label the confirmation button #}
{% if not confirm_label is defined %}
{% set confirm_label = "Yes"%}
{% endif %}
<!-- Button - triggers popup -->
<button type="button" class="btn btn-{{button_color}}" data-bs-toggle="modal" data-bs-target="#popup">{{button_label}}</button>
<!-- Modal popup -->
<div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold ">Please verify this action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="my-0">{{modal_body}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
                <button type="submit" class="btn btn-danger">{{confirm_label}}</button>
            </div>
        </div>
    </div>
</div>