{% if not disable_actions is defined%}
    {% set disable_actions = [] %}
{% endif %}
<!-- Action Links -->
{% set parent = request.path.rsplit("/", 1)[0]%}
{% set all_actions = ["create", "read", "update", "delete"]%}
{% set action_color = ({"create": "success" , "read": "primary", "update": "info", "delete": "danger"})%}
<div class="d-grid gap-2 d-md-block">
    {% for action in all_actions %}
    {# If the action isn't allowed, disable the button and change the color #}
    {% if action in disable_actions %}
        {% set active = "disabled" %}
        {% set color = "secondary" %}
    {% else %}
        {% set active = "" %}
        {% set color = action_color[action] %}
    {% endif %}
    {# If the action is the current page, fill it in, otherwise outline it #}
    {% if request.path.rsplit("/", 1)[-1] == action %}
        {% set style = "" %}
        {% set active = "disabled" %}
    {% else %}
        {% set style = "-outline" %}
    {% endif%}
    {# Create the button #}
    <a type="button" class="btn btn{{style}}-{{color}} btn-sm {{active}}" href="{{parent}}/{{action}}">
        {{ action.title() }}
    </a>
    {% endfor %}
</div>