<div class="form-floating my-2">
    <textarea 
        name={{sect.attr}} 
        class="form-control form-control-sm" 
        placeholder="{{sect.label}}" 
        id="form-item-{{sect.id}}" 
        required
    >{{value}}</textarea>
    <label for="form-item-{{sect.id}}">{{sect.label}}</label>
</div>