{% extends "base.jinja" %}
{% block title%} 
    Create - {{ page_label }}
{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>{{ page_label }}</h1>
    {% set parent = request.path.rsplit("/", 1)[0]%}
    {% include "actions.jinja"%}
    {% include "error.jinja"%}
    <!-- CREATE Form -->
    <form class="my-3" action="{{parent}}/create" method="POST">
        {% for sect in sections %}
        <!-- {{sect.kind.title()}} {{sect.label}} -->
        {% if sect.kind == "input" %}
        {% include "create_section_input.jinja" %}
        {% elif sect.kind == "textarea" %}
        {% include "create_section_textarea.jinja" %}
        {% elif sect.kind == "select" %}
        {% include "create_section_select.jinja" %}
        {% elif sect.kind == "checkbox" %}
        {% include "create_section_checkbox.jinja" %}
        {% endif %}
        {% endfor %}
        <!-- Submit -->
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>  
{% endblock %}