{% extends "base.jinja" %}
{% block title%} 
    Create - {{ page_label }}
{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>{{ page_label }}</h1>
        {% set parent = request.path.rsplit("/", 1)[0]%}
        {% include "actions.jinja"%}
        {% include "error.jinja"%}
        <!-- Delete Form -->
        <form class="my-3" action="{{parent}}/delete" method="POST">
            <!-- Option dropdown -->
            <div class="form-floating my-2">
                <select class="form-select" id="form-select" required>
                    {% for opt in options %}
                    <option value="{{opt}}">{{opt}}</option>
                    {% endfor %}
                </select>
                <label for="form-select">Assumption to Delete</label>
            </div>
            <!-- Button - triggers popup -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#popup">Delete</button>
            <!-- Modal popup -->
            <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold ">Please verify this action</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="my-0">You are about to remove an object from the database.</p>
                            <p class="my-0 text-danger">This cannot be un-done.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
                            <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>  
{% endblock %}