{% extends "base.jinja" %}
{% block title%} 
    Read - {{ page_label }} 
{% endblock %}

{% block content %}
<div class="container-lg">
    <!-- Page Header -->
    <div class="my-3">
        <h1>{{ page_label }}</h1>
        {% include "actions.jinja"%}
        {% include "error.jinja"%}
    </div>
    <!-- Existing objects -->
    <div class="my-3">
        <h3>Existing Data</h3>
        {% for accordion_obj in accordions %}
        <div class="container p-0 m-0">
            <h6 class="mt-2">{{accordion_obj.header}}</h6>
            {% include "accordion.jinja"%}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}