{% extends "base.jinja" %}
{% import 'utils/macros.jinja' as macro%}

{% block title %}
{{page_title}}
{% endblock %}

{% block content %}
<!-- {{page_title}} -->
<h1>{{page_title}}</h1>
<p>{{page_description}}</p>
<!-- Existing Objects -->
<div id="existing-objects">
  {% for obj in objects %}
  <!-- Card for {{obj.title}} -->
  {{obj.render(request)|safe}}
  {% endfor %}
  {{new_object.render()|safe}}
</div>
<!-- New Object -->
{% endblock %}

{% block scripts %}
{{ super() }}
{{macro.scriptToggleForm()}}
{{macro.scriptSubmitForm()}}
{% endblock %}