{% extends "base.jinja" %}

{%if edit_on is not defined%}
{% set edit_on = false%}
{%-endif%}

{% block title %}
{{page_title}}
{% endblock %}

{%block css%}
{{super()}}
<style>
.accordion-button:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--bs-accordion-btn-bg);;
}
.accordion-button:not(:focus) {
    outline: none;
    box-shadow: none;
    background-color: var(--bs-accordion-btn-bg);;
}
</style>
{%-endblock%}

{% block content %}
<!-- {{page_title}} -->
<h1>{{page_title}}</h1>
<p>{{page_description}}</p>
<!-- Existing Objects -->
<div id="existing-objects">
  {%if edit_on %}
  <!-- New Object -->
  <div class="accordion" id="accordion-new">
  {{new_object.render(request)|safe}}
  </div>
  <br>
  {%-endif%}
  <div class="accordion" id="accordion-edit">
    {% for obj in objects %}
    <!-- Card for {{obj.title}} -->
    {{obj.render(request, edit_on)|safe}}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% include 'scripts/toggle_form.jinja' %}
{% include 'scripts/submit_form.jinja' %}
{% endblock %}