{% extends "templates/form_parts/_editable_attr.jinja" %}
{% block editable %}
<select 
    name="{{name}}" 
    class="form-select form-select-sm {{toggle_tag}}" 
    id="{{id}}"
    required
    disabled
>
    {% for opt in options %}
    {% if opt == default %}<option value="{{opt}}" selected>{{opt}}</option>
    {% else %}<option value="{{opt}}">{{opt}}</option>
    {% endif %}
    {% endfor %}
</select>
{% endblock%}