{% extends "templates/base.jinja" %}

{%if edit_on is not defined%}
{% set edit_on = false%}
{%-endif%}

{% block title %}
{{page_title}}
{% endblock %}

{%block css%}
{{super()}}
<style>
.accordion-button:focus {
  outline: none;
  box-shadow: none;
  background-color: var(--bs-accordion-btn-bg);;
}
.accordion-button:not(:focus) {
  outline: none;
  box-shadow: none;
  background-color: var(--bs-accordion-btn-bg);;
}
</style>
{%-endblock%}

{%block content%}
<div class="col-md-6">
  <div class="mb-3">
  {{metadata|safe}}
  </div>
  {%if edit_on %}
  <!-- New Object -->
  <div class="accordion" id="accordion-new">
  {{new_object.render(request)|safe}}
  </div>
  {%-endif%}
  </div>
<div class="col-md-6">
  <!-- Existing Objects -->
  <div id="existing-objects">
    <div class="accordion" id="accordion-edit">
      {% for obj in objects %}
      <!-- Card for {{obj.title}} -->
      {{obj.render(request, edit_on)|safe}}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% include 'static/scripts/toggle_form.jinja' %}
{% include 'static/scripts/submit_form.jinja' %}
{% endblock %}