{% extends "templates/base.jinja" %}

{% macro true_false_icon(flag=false)%}
{% if flag is true %}
<i class="bi bi-check-circle-fill text-success font-size-sm"></i>
{% else %}
<i class="bi bi-x-circle-fill text-secondary"></i>
{% endif %}
{% endmacro %}

{% macro page_link(title, end_point)%}
    {%if e_edit %}
    {% set e_edit = ""%}
    {%else%}
    {% set e_edit = "diabled"%}
    {%endif%}
    
    <div class="vstack gap-1">
        <a href="{{end_point}}" class="btn btn-secondary btn-sm {{e_edit}}">{{title}}</a>
    </div>     
{%- endmacro %}

{% block title%} 
    CSRS Home 
{% endblock %}

{%block content%}
<div class="col-md-6">
    <div class="row">
        <h3>CalSim3 Docs</h3>
        <p>
            This server contains model results for multiple runs of CalSim3. Before 
            using these results, learn more about the assumptions, methods, and 
            limitations of  the CalSim3 model by reading the latest 
            <a href="https://water.ca.gov/Library/Modeling-and-Analysis/Central-Valley-models-and-tools/CalSim-3">documentation</a>.
        </p>
    </div>
    <div class="row">
        <h3>Developer Docs</h3>
        <p>
            You can use this site to interact with the database, but the server is 
            designed to be used by programs. Check out how to do that on the 
            <a href="https://centralvalleymodeling.github.io/csrs/">GitHub Docs</a>.
        </p>
    </div>
    <!-- Database Interactions -->
    {%if edit_on%}
    <div class="mb-3">
        <div class="p-3 b-1 border rounded">
            <h3>Edit</h3>
            <p>These pages allow you to view and interact with the data currently in the database. Interactions with <code>Timeseries</code> are not possible using these forms, and must be done using the standard API. You can see how to use this API using the <a href="/docs">OpenAI Docs</a>.</p>
            <hr class="text-secondary">
            <div class="hstack gap-3 ">
                {{page_link("Assumptions", "/forms/assumptions")}}
                {{page_link("Scenarios",   "/forms/scenarios"  )}}
                {{page_link("Runs",        "/forms/runs"       )}}
                {{page_link("Paths",       "/forms/paths"      )}}
            </div>
        </div>
    </div>
    {%-endif%}
</div>
<div class="col-md-6">
    <!-- Objects Descriptions -->
    <div class="mb-3">
        <h3>What can we get out of the database?</h3>
        <p>The following objects can all be retrieved from the database.</p>
        <div class="accordion">
            <!-- Assumptions accordion -->
            <div class="accordion-item" id="accordion-assumption">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-1" aria-controls="panelsStayOpen-collapseOne">
                        Assumptions
                    </button>
                </h2>
                <div id="panel-1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% include 'static/metadata/assumption.jinja'%}
                    </div>
                </div>
            </div>
            <!-- Scenario accordion -->
            <div class="accordion-item" id="accordion-scenario">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-2" aria-controls="panelsStayOpen-collapseOne">
                        Scenarios
                    </button>
                </h2>
                <div id="panel-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% include 'static/metadata/scenario.jinja'%}
                    </div>
                </div>
            </div>
            <!-- Run accordion -->
            <div class="accordion-item" id="accordion-run">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-3" aria-controls="panelsStayOpen-collapseOne">
                        Runs
                    </button>
                </h2>
                <div id="panel-3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% include 'static/metadata/run.jinja'%}
                    </div>
                </div>
            </div>
            <!-- NamedPath accordion -->
            <div class="accordion-item" id="accordion-timeseries">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-5" aria-controls="panelsStayOpen-collapseOne">
                        Named Path
                    </button>
                </h2>
                <div id="panel-5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% include 'static/metadata/path.jinja'%}
                    </div>
                </div>
            </div>
            <!-- Timeseries accordion -->
            <div class="accordion-item" id="accordion-timeseries">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-4" aria-controls="panelsStayOpen-collapseOne">
                        Timeseries
                    </button>
                </h2>
                <div id="panel-4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% include 'static/metadata/timeseries.jinja'%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}