{# defined: id, request #}
{% import 'templates/forms/buttons.jinja' as buttons %}

<div class="accordion-item border-success">
    <!-- Header  -->
    <div class="accordion-header" id="accordion-header-{{id}}">
        <button class="accordion-button p-2 text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">
            {% block title %}{%endblock%}
        </button>
    </div>
    <div id="collapse-{{id}}" class="accordion-collapse show" aria-labelledby="accordion-header-{{id}}">
        <form class="b-0" id="form-{{id}}" action="{{request.path}}/update" method="POST">
            <div class="accordion-body p-1">
                <div class="row px-2 m-0">
                    <!-- Edit Area -->
                    <div class="col my-2 mx-0 px-0">
                        {% block card %}
                        {% endblock %}
                    </div>
                    <!-- Buttons -->
                    <div class="col-1 my-2 me-0 ms-1 px-0 justify-content-center d-flex">
                        <div class="vstack gap-1">
                            {{ buttons.create_button(id, request.path + "/create") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>  
</div>
