{% extends 'templates/new/_new.jinja' %}

{% block title %}{{title}}{% endblock %}
{% block card %}
    <!-- Attributes  -->
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{name|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{kind|safe}}
    </div>
    <div class="row input-group input-group-sm m-0 my-1 p-0">
        {{detail|safe}}
    </div>
{% endblock %}