<p>
    Assumptions are the core of every CalSim3 scenario. Each model 
    uses a wide set of assumptions, and assumptions can be used by 
    multiple models. 
</p>
<p>
    Each assumption in the database has the following attributes:
</p>
<!-- attrs -->
<ul class="list-group">
    <li class="list-group-item">
        <div class="ms-2 me-auto">
            <div class="fw-bold">name <code>str</code></div>
            The common name of the assumption.
        </div>
    </li>
    <li class="list-group-item">
        <div class="ms-2 me-auto">
            <div class="fw-bold">kind <code>str</code></div>
            The category the assumption belongs to. Common categories for models include: <code>Hydrology</code> or <code>Land Use</code>
        </div>
    </li>
    <li class="list-group-item">
        <div class="ms-2 me-auto">
            <div class="fw-bold">detail <code>str</code></div>
            The metadata about the assumption, this ususally is a paragraph of text describing the assumption.
        </div>
    </li>
</ul> 
