<h3><code>Timeseries</code></h3>
<p> 
The <code>CSV</code> will contain all <code>Timeseries</code> that the server stores for
 that run. Note that this isn't everything that the model produces, but a selected set
 of <code>Timeseries</code>. Below is an example of what that data will look like:
</p>

<table>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th scope="col">A</th>
            <td scope="col">CALSIM</td>
            <td scope="col">CALSIM</td>
            <td scope="col">CALSIM</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>B</th>
            <td>PERDV_CVPAG_SYS</td>
            <td>DEL_CVP_TOTAL_N</td>
            <td>DEL_CVP_PAG_S</td>
        </tr>
        <tr>
            <th>C</th>
            <td>PERCENT-DELIVERY</td>
            <td>DELIVERY-CVP</td>
            <td>DELIVERY-CVP</td>
        </tr>
        <tr>
            <th>D</th>
            <td>.*</td>
            <td>.*</td>
            <td>.*</td>
        </tr>
        <tr>
            <th>E</th>
            <td>1MON</td>
            <td>1MON</td>
            <td>1MON</td>
        </tr>
        <tr>
            <th>F</th>
            <td>L2020A</td>
            <td>L2020A</td>
            <td>L2020A</td>
        </tr>
        <tr>
            <th>UNITS</th>
            <td>NONE</td>
            <td>CFS</td>
            <td>CFS</td>
        </tr>
        <tr>
            <th>PERIOD_TYPE</th>
            <td>PER-AVER</td>
            <td>PER-AVER</td>
            <td>PER-AVER</td>
        </tr>
        <tr>
            <th>INTERVAL</th>
            <td>1MON</td>
            <td>1MON</td>
            <td>1MON</td>
        </tr>
        <tr>
            <th>SCENARIO</th>
            <td>Historical</td>
            <td>Historical</td>
            <td>Historical</td>
        </tr>
        <tr>
            <th>VERSION</th>
            <td>1.1</td>
            <td>1.1</td>
            <td>1.1</td>
        </tr>
        <tr>
            <td>11/30/1921 23:59</td>
            <td>1</td>
            <td>83.53473611</td>
            <td>466.1454304</td>
        </tr>
        <tr>
            <td>12/31/1921 23:59</td>
            <td>1</td>
            <td>59.65298705</td>
            <td>717.6086759</td>
        </tr>
        <tr>
            <td>1/31/1922 23:59</td>
            <td>1</td>
            <td>44.18145363</td>
            <td>570.5137817</td>
        </tr>
        <tr>
            <td>2/28/1922 23:59</td>
            <td>1</td>
            <td>6.286289336</td>
            <td>518.7234147</td>
        </tr>
    </tbody>
</table>

<h3><code>Metadata</code></h3>
<p> 
The metadata is given as a <code>JSON</code> file. That file contains the information 
 for the <code>Scenario</code>, <code>Run</code>, <code>Assumption</code>, and 
 <code>NamedPath</code> objects that are relevant to the <code>Run</code>. That file 
 will look something like:
</p>