<div class="table-responsive">
    <table class="table table-sm table-hover align-center small">
        <caption>Columns are labeled by the <code>Path</code>, and <code>Run</code> metadata. The rows are indexed by dates.</caption>
        <thead class="table-secondary">
            <tr>
                <th scope="col">A</th>
                <td scope="col">CALSIM</td>
                <td scope="col">CALSIM</td>
            </tr>

            <tr>
                <th>B</th>
                <td>DEL_CVP_TOTAL_N</td>
                <td>DEL_CVP_PAG_S</td>
            </tr>
            <tr>
                <th>C</th>
                <td>DELIVERY-CVP</td>
                <td>DELIVERY-CVP</td>
            </tr>
            <tr>
                <th>D</th>
                <td>.*</td>
                <td>.*</td>
            </tr>
            <tr>
                <th>E</th>
                <td>1MON</td>
                <td>1MON</td>
            </tr>
            <tr>
                <th>F</th>
                <td>L2020A</td>
                <td>L2020A</td>
            </tr>
            <tr>
                <th>UNITS</th>
                <td>CFS</td>
                <td>CFS</td>
            </tr>
            <tr>
                <th>PERIOD_TYPE</th>
                <td>PER-AVER</td>
                <td>PER-AVER</td>
            </tr>
            <tr>
                <th>INTERVAL</th>
                <td>1MON</td>
                <td>1MON</td>
            </tr>
            <tr>
                <th>SCENARIO</th>
                <td>Historical</td>
                <td>Historical</td>
            </tr>
            <tr>
                <th>VERSION</th>
                <td>1.1</td>
                <td>1.1</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="table-light">11/30/1921</th>
                <td>83</td>
                <td>466</td>
            </tr>
            <tr>
                <th class="table-light">12/31/1921</th>
                <td>59</td>
                <td>717</td>
            </tr>
            <tr>
                <th class="table-light">...</th>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <th class="table-light">9/30/2021</th>
                <td>6</td>
                <td>518</td>
            </tr>
        </tbody>
    </table>
</div>