<div class="col-md ps-0">
    <ul class="list-group">
        <li class="list-group-item p-1"><code class="m-0 p-0">{{name}}</code></li>
        {%for section in sections%}
        <li class="list-group-item py-0 px-1">
            <div class="row input-group input-group-sm m-0 my-1 p-0">
                {{section|safe}}
            </div>
        </li>
        {%-endfor%}
    </ul>
</div>

