{% extends "templates/forms/_editable_attr.jinja" %}
{% block editable %}
<select 
    name="{{name}}" 
    class="form-select form-select-sm mb-1" 
    id="new"
    required
>
    {% for opt in options %}
    {% if opt == default %}<option value="{{opt}}" selected>{{opt}}</option>
    {% else %}<option value="{{opt}}">{{opt}}</option>
    {% endif %}
    {% endfor %}
</select>
{% endblock%}