<script>
    function toggleForm(baseId) {
        console.log("Changing editable state for " + baseId)
        // Enable the form entries
        const form = document.getElementById("form-" + baseId);
        console.log("Found form: id=" + form.id)
        if (form) {
            const elements = form.elements;
            for (element of elements){
                if (element.classList.contains("toggled-by-button")){
                    element.disabled = !element.disabled;
                };
            };
        }
        // Hide/Show & Disable/Enable buttons
        let buttonPrefixes = ["submit-", "delete-"];
        for (prefix of buttonPrefixes){
            let button = document.getElementById(prefix + baseId);
            if (button.classList.contains('d-none')) {
                button.classList.remove('d-none');
            } else {
                button.classList.add('d-none');
            }
            button.disabled = !button.disabled
        }
    }
</script>