{# defined: id, request #}
{% import 'utils/buttons.jinja' as buttons %}

<div class="accordion-item">
    <!-- Header  -->
    <div class="accordion-header" id="accordion-header-{{id}}">
        <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{id}}" aria-expanded="false" aria-controls="collapse-{{id}}">
            {% block title %}{%endblock%}
        </button>
    </div>
    <div id="collapse-{{id}}" class="accordion-collapse collapse" aria-labelledby="accordion-header-{{id}}" data-bs-parent="#accordion">
        {%if edit_on %}
        <form class="b-0" id="form-{{id}}" action="{{request.path}}/update" method="POST">
        {%-endif%}
        <div class="accordion-body p-1">
            <!-- Edit Area -->
            {% block card %}
            {% endblock %}
            {% if edit_on %}
            <!-- Buttons -->
            <div class="row mx-0 mb-1">
                <div class="col px-3">
                    <div class="float-end mx-1">{{ buttons.edit_button(id) }}</div>
                    <div class="float-end mx-1">{{ buttons.submit_button(id, request.path + "/update") }}</div>
                    <div class="float-end mx-1">{{ buttons.delete_button(id, request.path + "/delete") }}</div>
                </div>
            </div>
            {%-endif%}
        </div>
        {%if edit_on %}
        </form>
        {%-endif%}
    </div>  
</div>
