{# defined: id, request #}
{% import 'utils/buttons.jinja' as buttons %}

<div class="card my-2">
    {%if edit_on %}
    <form class="pb-1" id="form-{{id}}" action="{{request.path}}/update" method="POST">
    {%-endif%}
    <!-- Header  -->
    <div class="card-header">
        <div class="row">
            <div class="col">
                {% block title %}{%endblock%}
            </div>
            <!-- Buttons -->
            {% if edit_on %}
            <div class="col-3">
                <div class="float-end mx-1">{{ buttons.edit_button(id) }}</div>
                <div class="float-end mx-1">{{ buttons.submit_button(id, request.path + "/update") }}</div>
                <div class="float-end mx-1">{{ buttons.delete_button(id, request.path + "/delete") }}</div>
            </div>
            {%-endif%}
        </div>
    </div>
    <!-- Edit Area -->
    {% block card %}
    {% endblock %}
    {%if edit_on %}
    </form>
    {%-endif%}
</div>