{% extends 'objects/_editable.jinja' %}
{% import 'utils/macros.jinja' as macro%}

{%block title%}{{title}}{%endblock%}
{% block edit_area %}
    <!-- Attributes  -->
    <ul id="list-{{id}}" class="list-group list-group-flush">    
        <!-- Name -->
        <li class="list-group-item">
            <div class="input-group input-group-sm m-0 p-0">
                {{name|safe}}
            </div>
            <div class="input-group input-group-sm my-1 p-0">
                {{kind|safe}}
            </div>
            <div class="input-group input-group-sm my-1 pb-1">
                {{detail|safe}}
            </div>
        </li>
    </ul>
    <input type="hidden"
        form="form-{{id}}"
        id="{{id}}"
        name="id"
        class="form-control form-control-sm"
        value="{{id}}"
        placeholder="{{id}}"
        required
    >
{% endblock %}