<p>This pages allows you to download data from the database. These files are static and are not updated after they are downloaded.</p>
<p>Download the <code>Timeseries</code> data on the database as a <code>CSV</code>, or the <code>Run</code> and it's metadata as a <code>JSON</code>.</p>