<div class="row">
    <div id="page-description-text" class="col-md">
        <p>The CalSim Scenario Results Server (<code>CSRS</code>) stores timeseries data, and metadata for the CalSim Water Resources Model. <code>CSRS</code> and CalSim are both developed by the California Department of Water Resources.</p>
        <p>The data stored here is intended to be processed further before interpretations are made. Interpretations of the model raw outputs without considering the assumptions, limitations, and contexts can be mis-leading. The data is provided here without interpretation by DWR staff.</p>
    </div>
    <div class="col-md">
        <div class="row">
            <h6>CalSim3 Documentation</h6>
            <p>
                This server contains model results for multiple runs of CalSim3. Before 
                using these results, learn more about the assumptions, methods, and 
                limitations of  the CalSim3 model by reading the latest 
                <a href="https://water.ca.gov/Library/Modeling-and-Analysis/Central-Valley-models-and-tools/CalSim-3">documentation</a>.
            </p>
        </div>
        <div class="row">
            <h6>CSRS Python Documentation</h6>
            <p>
                You can use this site to interact with the database, but the server is 
                designed to be used by programs. Check out how to do that on the 
                <a href="https://centralvalleymodeling.github.io/csrs/">GitHub Docs</a>.
            </p>
        </div>
    </div>
</div>